{% extends "/opt/pomail/pomail/templates/layout.html" %}
{% load static %}
{% block body %}
    <div class="account-container">
        <div class="account-title"><img src="{% static 'potato.png'%}">Pomail</div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <a class="right" href="{% url 'register' %}">Forgot?</a>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        <a class="create-account" href="{% url 'register' %}">Create account</a>
    </div>

{% endblock %}
